body {
    font-family:'Open Sans', Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    background-color:#fafafa;
    overflow-x:hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow:  wrap;
    justify-content: center;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    flex-flow:  wrap;
    justify-content: center;
}
.flex-photo{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    flex-flow:  wrap;
    justify-content: center;
    width: 100%;
}
.flex-item {
    width: 150px;
    height: 150px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    transition: 0.3s;
}
.flex-item{
    cursor: pointer;
}
.flex-item:hover{
    background: white;
    opacity: 1;
    color: lightgray;

}
.flex-name{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    flex-flow:  wrap;
    justify-content: flex-start;
}
.flex-name span{
    font-size: 16px;
    font-weight: normal;
}
.flex-name p{
    text-align: right;
}
.flex-text{
    background: url("index.html")#16A5D7;
    width:1050px;
    height: 150px;
    text-align:left;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration:none;
    color:#fff;
    font-weight: 700;
    padding-top: 50px;
    cursor: pointer;
}

.flex-home{
    background: #50c0e9;
}
.flex-exp{
    background: #a8d324;
}
.flex-form{
    background: #7caf00;
}
.flex-comp{
    background: #EA4C89;
}
.flex-contact{
    background:lightcoral;
}
.flex-face{
    background: #32CDFB;
}
.flex-twitter {
    background: #3B5898;
}
.text-home{
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width:1050px;
    height: 150px;
    background: #50c0e9;
    color: white;
}
a{
    color:white;
}
#text{
    margin-left: 50px;
}
h1{
    text-align: center;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.texte1
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.texte1 a{
    color: black;
}

.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}
.texte1:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}

